<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Inicio{{comuna}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-input label="Floating label" labelPlacement="floating" placeholder="ingrese su nombre"[(ngModel)]="nombre"></ion-input>
  </ion-item>
  <ion-button color="success" [routerLink]="['/home']">Ir al Home</ion-button>
  <ion-button color="warning" (click)="irPagina()">Ir a Agregar {{ nombre}}</ion-button>
  <p></p>
</ion-content>